2.Node-Red/Flow_Sensores.json
[
    {
        "id": "ccf5a9c4.5dc2b8",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c76c7ca4.663a4",
        "type": "inject",
        "z": "ccf5a9c4.5dc2b8",
        "name": "PARAR_Sim",
        "topic": "",
        "payload": "STOP",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.3",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "6eb98d5c.aca2c4"
            ]
        ],
        "icon": "node-red/alert.png"
    },
    {
        "id": "83177711.9a3798",
        "type": "inject",
        "z": "ccf5a9c4.5dc2b8",
        "name": "INICIO_Sim",
        "topic": "",
        "payload": "START",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 225,
        "wires": [
            [
                "6eb98d5c.aca2c4"
            ]
        ]
    },
    {
        "id": "98e199b9.9c7e88",
        "type": "serial in",
        "z": "ccf5a9c4.5dc2b8",
        "name": "Salida Datos",
        "serial": "10596ade.1a2f45",
        "x": 220,
        "y": 500,
        "wires": [
            [
                "c4029a16.335138"
            ]
        ],
        "icon": "node-red/bluetooth.png"
    },
    {
        "id": "5855da87.ee1e04",
        "type": "serial out",
        "z": "ccf5a9c4.5dc2b8",
        "name": "Conexión BT",
        "serial": "10596ade.1a2f45",
        "x": 1195,
        "y": 225,
        "wires": [],
        "icon": "node-red/bluetooth.png"
    },
    {
        "id": "6eb98d5c.aca2c4",
        "type": "looptimer",
        "z": "ccf5a9c4.5dc2b8",
        "duration": "1",
        "units": "Hour",
        "maxloops": "10000000",
        "maxtimeout": "1000000",
        "maxtimeoutunits": "Hour",
        "name": "LOOP 1h",
        "x": 385,
        "y": 225,
        "wires": [
            [
                "f76d716.df0c09"
            ],
            []
        ]
    },
    {
        "id": "8cc00774.cbd778",
        "type": "function",
        "z": "ccf5a9c4.5dc2b8",
        "name": "Noche",
        "func": "msg.payload=2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 250,
        "wires": [
            [
                "47bad9cd.18d178",
                "5855da87.ee1e04"
            ]
        ]
    },
    {
        "id": "941d3d7.670fec",
        "type": "function",
        "z": "ccf5a9c4.5dc2b8",
        "name": "Día",
        "func": "msg.payload=1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 200,
        "wires": [
            [
                "47bad9cd.18d178",
                "5855da87.ee1e04"
            ]
        ]
    },
    {
        "id": "f76d716.df0c09",
        "type": "time-range-switch",
        "z": "ccf5a9c4.5dc2b8",
        "name": "",
        "lat": "37.3761",
        "lon": "-6.00238",
        "startTime": "sunriseEnd",
        "endTime": "sunsetStart",
        "startOffset": 0,
        "endOffset": 0,
        "x": 610,
        "y": 225,
        "wires": [
            [
                "941d3d7.670fec"
            ],
            [
                "8cc00774.cbd778"
            ]
        ]
    },
    {
        "id": "28c9425e.d3c1be",
        "type": "http request",
        "z": "ccf5a9c4.5dc2b8",
        "name": "POST",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://XXX.XXX.XXX.XXX:9200/sensores/datos_recibidos",
        "tls": "",
        "proxy": "",
        "authType": "basic",
        "x": 975,
        "y": 500,
        "wires": [
            [
                "47bad9cd.18d178"
            ]
        ]
    },
    {
        "id": "89438d5e.6ed3f",
        "type": "json",
        "z": "ccf5a9c4.5dc2b8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 825,
        "y": 500,
        "wires": [
            [
                "28c9425e.d3c1be",
                "47bad9cd.18d178"
            ]
        ]
    },
    {
        "id": "47bad9cd.18d178",
        "type": "debug",
        "z": "ccf5a9c4.5dc2b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1195,
        "y": 350,
        "wires": []
    },
    {
        "id": "c4029a16.335138",
        "type": "function",
        "z": "ccf5a9c4.5dc2b8",
        "name": "ELASTIC INSET DATA",
        "func": "var output = msg.payload.split(\"\\n\");\nvar a1 = {payload:output[0]};\nvar a2 = {payload:output[1]};\nvar a3 = {payload:output[2]};\n\nvar loc = [];\nvar mag = [];\n\n//MAGNITUD\nif (parseInt(output[0]) === 1) {\n   a1 = \"°C\" ;\n   mag = \"Temperatura\";}\nif (parseInt(output[0]) === 2) {\n   a1 = \"%\" ;\n   mag = \"Humedad Relativa\";}\nif (parseInt(output[0]) === 3) {\n   a1 = \"km/h\" ;\n   mag = \"Velocidad de Viento\";}\nif (parseInt(output[0]) === 4) {\n   a1 = \"mBar\" ;\n   mag = \"Presion\";}\nif (parseInt(output[0]) === 5) {\n   a1 = \"UV\" ;\n   mag = \"Indice UV\";}\n   \n//LOCALIZACION\nif (parseInt(output[1]) === 1) {\n   a2 = \"37.376370,-6.002678\";\n   loc = \"EPS\";}\nif (parseInt(output[1]) === 2) {\n   a2 = \"37.407866,-6.004571\";\n   loc = \"Cartuja\";}   \nif (parseInt(output[1]) === 3) {\n   a2 = \"37.358256,-5.987159\";\n   loc = \"ETSII\";}\nif (parseInt(output[1]) === 4) {\n   a2 = \"37.393349,-5.991788\";\n   loc = \"Setas\";}\nif (parseInt(output[1]) === 5) {\n   a2 = \"37.411458,-5.882584\";\n   loc = \"Aeropuerto\";}\n\nvar data={\"valor\":output[2], \n          \"magnitud\":a1, \n          \"m_descripcion\": mag, \n          \"coordenadas_xy\":a2,\n          \"l_descripcion\": loc,\n          \"timedata\":new Date()};\n\n\nnode.log(typeof data);\nmsg.payload= data;\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 500,
        "wires": [
            [
                "89438d5e.6ed3f"
            ]
        ],
        "icon": "node-red/leveldb.png"
    },
    {
        "id": "4b51f392.88914c",
        "type": "comment",
        "z": "ccf5a9c4.5dc2b8",
        "name": "Simulación de Sensores",
        "info": "",
        "x": 235,
        "y": 125,
        "wires": []
    },
    {
        "id": "10596ade.1a2f45",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/rfcomm0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "even",
        "stopbits": "1",
        "waitfor": "",
        "newline": "900",
        "bin": "false",
        "out": "time",
        "addchar": "false",
        "responsetimeout": "10000"
    }
]
